:root {
  --blue: #8b5cf6;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h1,
h2 {
  color: var(--blue);
}

input {
  width: 50%;
  height: 20vh;
  font-size: 1.5rem;
  border-style: solid;
  border-color: black;
}

.zodiac-text {
  padding-top: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.sign {
  font-size: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}
